<!DOCTYPE html>
<html>
<head>
  <title>EnchantjsDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "enchant" %> 
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>

